<h4>Access modifiers</h4>
<hr />
<div>
  <div class="row">
    <div class="col-md-3">
      Accessing varibales through Function:
    </div>
    <div class="col-md-9">
      {{greet.accessVariable()}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      Accessing varibales(public) Directly Outside Class:
    </div>
    <div class="col-md-9">
      {{greet.msgB}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      Accessing varibales through external function:
    </div>
    <div class="col-md-9">
      {{accessGreetingClass()}}
    </div>
  </div>
</div>
